/* The following three custom classes are used to style the
current UV element to indicate high, low, and okay */
.uvHigh {
    color: white;
    background: red;
    border-radius: 5px;
}
.uvLow {
    color: white;
    background: green;
    border-radius: 5px;
}
.uvOk {
    color: white;
    background: gold;
    border-radius: 5px;
}